.theme {
    background-color: #000000;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    color: white;
}

.focus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.finished {
    --border-color: #555;

    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-right: none;
    margin: 1.25rem 0 1.25rem 1.25rem;
}

.unfinished {
    --border-color: #555;

    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    border-top: 2px solid var(--border-color);
    border-left: none;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    margin: 1.25rem 1.25rem 1.25rem 0;
    position: relative; /* Uradio sam ovo bez AI-a, al sam pametan */
}

.exodus
{
    position: absolute;
    top: -7px;
    left: 613.2px;
}

.exit {
    cursor: pointer;
    margin: 15px;
    width: 25px;
    height: 25px;
  }

.frame {
    height: 250px;
    width: 250px;
    border: hsl(130, 13%, 57%) 5px solid;
    box-shadow: 10px 10px #111111;
    transition: 0.5s;
    margin: 23px 23px 12px 23px;
    background-color: #434343;
}

.frame:hover {
    border: pink 5px solid;
    cursor: pointer;
}

.upload {
    color: white;
    text-decoration: none;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview
{
    height: 250px;
    width: 250px;
    display: block;
    object-fit: cover;
}

.field {
    font-size: 1.3rem;
}

.sub {
    color: #555;
}

.feedback{
    position: fixed; /* might need to change this to absolute - relative */
    top: 20;
    right: 20;
    background-color: hsl(130, 13%, 57%);
    color: white;
    padding: 10px 20px;
    margin: 45px 25px 25px 115px;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 20;
}


@media (max-width: 600px) {
    .focus {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media (max-width: 768px) {
    .finished, .unfinished {
      border: none !important; 
      margin: 0 !important;    
    }
  }

  @media (max-width: 768px) {
    .exodus {
      position: static !important;
      top: auto !important;
      left: auto !important;
    }
  
    .exit {  
      margin: 0 !important;        
      width: auto !important;    
      height: auto !important;    
    }
  }