.theme {
    background-color: #111111;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    color: white;
}

.focus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.finished {
    background: #ff9e2c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.unfinished {
    background: #b6701e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 600px) {
    .focus {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}