:root {
  font-family: 'HelveticaMedium', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

}

body {
  margin: 0;
  display: block
}

@font-face {
  font-family: 'Jersey M54';
  src: url('/fonts/Jersey M54.ttf') format('truetype');
}

.title {
  background-color: black;
  font-family: 'Jersey M54', sans-serif; 
  color: white;
  font-size: 175px;
  text-align: center;
}

.title span {
  font-size: 30px;
  color: pink;
}