:root {
  font-family: 'HelveticaMedium', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

}

body {
  margin: 0;
  display: block;
  overflow-y: auto;
}

/*#region Main app title screen*/
@font-face {
  font-family: 'Jersey M54';
  src: url('/fonts/Jersey M54.ttf') format('truetype');
}

@font-face {
  font-family: 'LobsterTwo-Regular';
  src: url('/fonts/LobsterTwo-Regular.ttf') format('truetype');
}

.title {
  background-color: black;
  font-family: 'Jersey M54', sans-serif;
  color: white;
  font-size: 10vw;
  text-align: center;
  padding: 10px;
}

.title span {
  font-size: 2vw;
  color: pink;
}

@media (max-width: 1200px) {
  .title {
    font-size: 8vw;
  }

  .title span {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 12vw;
  }

  .title span {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 15vw;
  }

  .title span {
    font-size: 4vw;
  }
}

/*#endregion */