.textlabel {
    color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

.fillarea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    /* font-family: 'HelveticaMedium', Arial, sans-serif; */
}

.howitworks {
    font-family: 'HelveticaMedium', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    caret-color: white;
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgb(215, 215, 215);
    --border-after-color: pink;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}


.finput[type="text"] {
    font-family: 'HelveticaMedium', Arial, sans-serif;
    font-size: 16px;
}

.finput[type="password"] {
    font-size: 16px;
}

.finput {
    /*
  width: 65%;
  text-decoration: underline;
  */
    color: white;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    background: none transparent;
}

.finput:hover {
    background: var(--input-hovered-color);
}

.finput:focus {
    outline: 0;
    box-shadow: none;
}

.iborder {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.finput:focus~.iborder {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

.submit {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 31px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #333333;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submit span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.submit span:last-child {
    color: black;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.submit:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.submit:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.submit:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.infopult {
    font-family: 'HelveticaMedium', Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.signinoptions {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.signinoptions:hover {
    color: hsl(130, 13%, 57%);
    cursor: pointer;
}

.holdup {
    color: white;
    text-align: center;
}

.error {
    color: #f10048;
    text-align: center;
}

.googlebutton {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #676767;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}