.window {
  z-index: 10;
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background-color: #222222;
  transition: right 0.3s ease-in-out;
}

.window.visible {
  right: 0;
}

.holdup {
  color: white;
  text-align: center;
}

.exit {
  cursor: pointer;
  margin: 15px;
  width: 25px;
  height: 25px;
}

@media (max-width: 600px) {
  .window {
    width: 100%;
    right: -100%;
  }

  .window.visible {
    right: 0;
  }
}